body {
    font-family: 'Roboto', sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    width: 30%;
}

label {
    margin: 0.5em 0;
}

button {
    width: 8em;
    height: 3em;
    margin: 2em 0;
}

header {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 60%;
}

footer {
    margin-top: 10em;
}